<div class="container" style="margin-top: 10px;">
    <br><br><h1 style="font-size: 300%; display: inline;">Fejlesztési lista</h1>
    <br>
    <ul>
        <li>Livemap</li>
        <ul><li>Livemap importálása (kész funkció, Norbi)</li></ul>
    </ul>
    <ul>
        <li>Felhasználók</li>
        <ul><li>Inaktív felhasználó ne tudjon bejelentkezni</li></ul>
        <ul><li>Saját felhasználói fiókot ne lehessen törölni/inaktívra állítani</li></ul>
    </ul>
    <ul>
        <li>Kiszállítás</li>
        <ul><li>Egy kiszállítás legyen az egység (egy ügyfél egy időben)</li>
        <ul><li>Darabszámnak megfelelő mennyiségű gyártási szám, stb. bevitel.</li>
        <ul><li style="background-color: lightgreen;">Gyártási számok bevitele vonalkóddal?</li></ul></ul>
        <ul><li style="background-color: lightgreen;">Címke export (Zebra hőnyomtatós matrica)</li></ul>
        <ul><li style="background-color: lightgreen;">Szállító levél export</li></ul>
        <ul><li style="background-color: lightgreen;">Minőségi bizonyítvány export</li></ul>
        <ul><li style="background-color: yellow;">Számlázó program API?</li></ul></ul>
    </ul>
    <ul>
        <li>Rendelés</li>
        <ul><li>Egy rendelés legyen az egység. Pl. új rendelés létrehozás ablakban lehessen dolgozni, tételeket külön hozzáadni darabszámmal. A lista megjelenítésénél szintén látszódjanak jobban az egy rendeléshez tartozó tételek</li></ul>
        <ul><li>Rendelésen belül a tételek sorszáma induljon mindig 1-ről</li></ul>
    </ul>
    <ul>
        <li>Készlet</li>
        <ul><li>Számoláskor a leltár utolsó frissülési időpontjától későbbi kell, hogy legyen a többi (rendelés, kiszállítás) dátuma</li></ul>
    </ul>
    <ul>
        <li style="background-color: lightgreen;">Analitika</li>
        <ul><li style="background-color: lightgreen;">Időablak szerint</li>
        <ul><li style="background-color: lightgreen;">Összes kimenő tartály</li></ul>
        <ul><li style="background-color: lightgreen;">Típusonként</li></ul>
        <ul><li style="background-color: lightgreen;">Ügyfelek szerinti forgalom</li></ul>
        <ul><li style="background-color: lightgreen;">Bejövő darabszámok</li></ul></ul>
    </ul>
    <ul>
        <li style="background-color: lightgreen;">Dashboard</li>
        <ul><li style="background-color: orange;">Következő bejövő rendelések ETA szerint rendezve (azokon belül tételek)</li></ul>
        <ul><li style="background-color: orange;">Következő kiszálítások ugyanígy rendezve (szállítók feltüntetésével)</li></ul>
        <ul><li style="background-color: orange;">Tárgyév kiszállítása (össz darab, árbevétel, top 5 ügyfél)</li></ul>
        <ul><li style="background-color: lightgreen;">Kiszállítások vs hónap (oszlopdiagram)</li></ul>
    </ul>
    <ul>
        <li>Egész rendszerre vonatkozó</li>
        <ul><li>Login hozzáadása</li></ul>
        <ul><li><u>Naplózási adatbázis táblák (4db) és triggerek létrehozása (insert, update, delete műveletek)</u></li></ul>
    </ul>
</div>