<h1 mat-dialog-title>Adatok mentése</h1>
<div mat-dialog-content>
    <form [formGroup]="deliveryForm">
        <mat-form-field appearance="fill">
            <mat-label>Vevő neve</mat-label>
            <mat-select formControlName="Customer_ID">
                <mat-option *ngFor="let Customer of CustomerList" [value]="Customer.ID">{{Customer.Name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Rendelés ideje</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="Order_date" (dateChange)="changeDatePickerAll()">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Szállítás ideje</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="Delivery_date" (dateChange)="changeDatePickerAll()">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Tartály típusa</mat-label>
            <mat-select formControlName="Container_type">
                <mat-option *ngFor="let Container of ContainerList" [value]="Container.ID">
                    {{Container.Type}} | 
                    {{Container.Capacity}} | 
                    {{Container.Part1}} | 
                    {{Container.Part2}} | 
                    {{Container.Part3}} | 
                    {{Container.Part4}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Darabszám</mat-label>
            <input matInput formControlName="Count" type="number" min="1">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Szállító</mat-label>
            <input matInput formControlName="Supplier">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Eladási ár</mat-label>
            <input matInput formControlName="Selling_price" type="number" min="0.1" step="0.1">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Fuvarköltség</mat-label>
            <input matInput formControlName="Freight_cost" type="number" min="0">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Megjegyzés</mat-label>
            <input matInput formControlName="Comment">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Mégse</button>
    <button mat-raised-button color="primary" (click)="addDeliveryItem()">{{actionBtn}}</button>
</div>