<div class="container" style="margin-top: 15px;">
    <br><br><h1 style="font-size: 300%; display: inline;">Dashboard adatok</h1>
    <table style="margin-top: 10px;">
        <tr>
            <td style="border: 1px solid black; width: 33%;">
                <p *ngFor="let containers2 of containers2;"> Megrendelt tartályok összesen: {{containers2.Ord_all}}db</p>
                <p *ngFor="let containers2 of containers2;">Ebből megérkezett: {{containers2.Rev_all}}db</p>
                <p>Nyitott / részleges státuszú rendelések:</p>
                <ul *ngFor="let c of containers1; let i=index">
                    <li *ngIf ="(i==0)">
                        Szállítási idő: {{containers1[i+1]?.Freight.Transport_date | date: 'yyyy/MM/dd'}}<hr>
                    </li>
                    <ul>
                        <li>Tartály típusa: {{c.Container.Type}} | 
                            {{c.Container.Capacity}} | 
                            {{c.Container.Part1}} | 
                            {{c.Container.Part2}} | 
                            {{c.Container.Part3}} | 
                            {{c.Container.Part4}}
                        </li>
                    </ul>
                    <ul>
                        <ul>
                            <li>Rendelt / Bevételezett mennyiség: {{c.Order.Ordered_quantity}}db / {{c.Order.Revenue_quantity}}db</li>
                        </ul>
                    </ul>
                    <ul>
                        <ul>
                            <li>Rendelt mennyiség értéke összesen: {{c.Container.Monetary_value * c.Order.Ordered_quantity | currency:'€':true:'0.0-4'}}</li>
                        </ul>
                    </ul>
                    <li style="margin-top: 10px" *ngIf ="(containers1[i+1]?.Freight.Transport_date != undefined && c.Freight.Transport_date != containers1[i+1]?.Freight.Transport_date)">
                        Szállítási idő: {{containers1[i+1]?.Freight.Transport_date | date: 'yyyy/MM/dd'}}<hr>
                    </li>
                </ul>
            </td>
            <td style="border: 1px solid black; width: 34%; vertical-align: top;">
                <p>Következő kiszálítások:</p>
                <ul *ngFor="let c of alldelivery; let i=index">
                    <li *ngIf ="(i==0)">
                        Szállítási idő: {{c.Delivery.Delivery_date | date: 'yyyy/MM/dd'}}<hr>
                    </li>
                    <ul>
                        <li>Vevő: {{c.Customer.Name}}</li>
                        <ul>
                            <li>Kontakt név: {{c.Customer.Contact_name}}</li>
                            <li>Kontakt e-mail: {{c.Customer.Contact_email}}</li>
                        </ul>
                        <li>Tartály típusa: {{c.Container.Type}} | 
                            {{c.Container.Capacity}} | 
                            {{c.Container.Part1}} | 
                            {{c.Container.Part2}} | 
                            {{c.Container.Part3}} | 
                            {{c.Container.Part4}}
                        </li>
                        <ul>
                            <li>Darabszám: {{c.Delivery.Count}}</li>
                            <li>Szállító: {{c.Delivery.Supplier}}</li>
                            <li>Ár összesen: {{c.Delivery.Selling_price * c.Delivery.Count | currency:'€':true:'0.0-4'}}</li>
                        </ul>
                    </ul>
                    <li style="margin-top: 10px" *ngIf ="(alldelivery[i+1]?.Delivery.Delivery_date != undefined && c.Delivery.Delivery_date != alldelivery[i+1]?.Delivery.Delivery_date)">
                        Szállítási idő: {{alldelivery[i+1]?.Delivery.Delivery_date | date: 'yyyy/MM/dd'}}<hr>
                    </li>
                </ul>
            </td>
            <td style="border: 1px solid black; width: 33%; vertical-align: top;">
                <p>Tárgyévben kiszállított tartályok száma: {{totalcount}}db</p>
                <p>Árbevétel: {{totalval | currency:'€':true:'0.0-4'}}</p>
                <p>TOP 5 ügyfél:</p>
                <ul *ngFor="let customer1 of customer1; let i=index">
                    <li *ngIf ="(i < 5)">{{customer1?.Name}} | {{customer1?.Address}}</li>
                    <ul *ngIf ="(i < 5)">
                        <li>Vásárlások össz értéke: {{customer1?.Sum_val | currency:'€':true:'0.0-4'}}</li>
                    </ul>
                </ul>
            </td>
        </tr>
    </table>
</div>